@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color:#575558 ;
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;

}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    width: 250px;
    height: 515px;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
#login>#imagem{
    display: block;
    background: #787878 url(../imagens_login/metal.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    height: 200px;
}
#formulario{
    background-color: #e8e4e4;
    display: block;
    padding: 10px;
    
}
#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario>p{
    font-size: 0.8em;
}
#icon{
    position: absolute;
    top: 76%;
    right: 17px;
    background: url(../imagens_login/visibility.png) no-repeat ;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: cover;
    transform: translateY(-50%);
}
#icon.hide{
    background: url(../imagens_login/no_visibility.png) no-repeat ;
    background-size: cover;
}
.campo{
    background-color: #5b5b5b;
    border: 1px solid #8a8a8a;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
.campo>label{
    display: none;
}
.campo>span{

    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
   
    
}
.campo>input{
    background-color: #68666656;
    padding: 4px;
    font-size: 1em;
    border-radius: 8px;
    border: 0px;
    width: calc(99% - 44px);
    height: 100%;
    transform: translateY(-11px);
   
}
.campo>input:focus-within{
    background-color: white;
}
.campo ::placeholder{
    color: #ffffff54;
    
}

form>input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    border: solid 2px rgba(0, 0, 0, 0.253);
    background-color:#636363 ;
    cursor: pointer;

}
form>input[type=submit]:hover{
    background-color: #4f5353;
}
form>a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#636363 ;
    color: #ffffff;
    border-radius: 7px;
    border: solid 2px rgba(0, 0, 0, 0.253);
}
form>a.botao:hover{
    background-color: #4f5353;
}
form>a.botao>span{
    font-size: 1em;
}