@charset "UTF8";



@media screen  and (min-width:530px) and (max-width:700px){
    header{
        width:87vw;
        
    }
    html{
        background-color: gray;
    }
    
    main{
        width: 93.8vw;
        
    }
    
}


@media screen and (min-width:700px) and (max-width:815px){ /*Tablet*/
    
    header{
        width:91vw;
        
    }
    html{
        background-color: gray;
    }
    
    main{
        width: 96.2vw;
        
    }
    


    nav>a{
    font-size: 1.5em;
    color: white;
    padding: 15px;
    
    }
    
    nav a:hover{
    background-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 9px;
    transition: 0.7s;
    transition-duration: 1s;
    
    
   } 
   #direita{
    display: none;
}

#esquerda{
    display: none;
}
     
    

}

@media screen and (min-width:815px) and (max-width:900px) {
    header{
        width:91.5vw;
        
    }
    html{
        background-color: gray;
    }
    
    main{
        width: 96.2vw;
        
    }
    


    nav>a{
    font-size: 1.5em;
    color: white;
    padding: 15px;
    
    }
    
    nav a:hover{
    background-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 9px;
    transition: 0.7s;
    transition-duration: 1s;
    
    
   } 
   #direita{
    display: none;
}

#esquerda{
    display: none;
}
     
    

}
@media screen and (min-width:900px) and (max-width:1100px){
    header{
        width:92.5vw;
        
    }
    html{
        background-color: gray;
    }
    
    main{
        width: 96.2vw;
        
    }
    


    nav>a{
    font-size: 1.5em;
    color: white;
    padding: 15px;
    
    }
    
    nav a:hover{
    background-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 9px;
    transition: 0.7s;
    transition-duration: 1s;
    
    
   } 
   #direita{
    display: none;
}

#esquerda{
    display: none;
}
     
  
}
@media screen and (min-width:1100px){/*Telas grande*/
    header{
        width:92.3vw;

        
    }
    body,html{
        background-color: rgb(91, 89, 89);
        width: 100vw;
       
    }
    
        
    nav{
    background-color: rgba(155, 154, 154, 0.696);
    border-radius: 20px;
    padding: 10px;
    padding-right: 19px;
    }

    nav>a{
    font-size: 1.2em;
    color: white;
    padding: 40px;
    transition: 0.1s;
  
    }
    nav>a>span{
        padding: 0px 20px 0px 20px;
      
    }
    nav>a:hover{
    color: rgb(0, 0, 0);
    /* background-color: rgba(112, 112, 112, 0.863); */
    border-radius: 10%;
    transition-duration: 9ms;
    transition: 0.1s;
    transition-duration: 1s;
    
    
    
    } 
    
    main{
        width: 656px;
        height: 300vh;
        padding: 30px;
        background-color: rgba(123, 123, 123, 0.611);
        position: relative;
        top: 31px;
        left: 21%;
        color: white;
        border-radius: 0px 0px 20px 20px;
    }
    #direita{
        display: block;
        font-size: .8em;
        width: 240px;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.368);
        position: relative;
        left: -43.1%;
        top: -19.7%;
        cursor: pointer;
       

    }
    #esquerda{
        display: block;
        width: 264px;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.368);
        position: relative;
        left: 107%;
        top: -53%;
        cursor: pointer;

    }
    form{
        padding: 10px;
        background-color: rgb(163, 162, 162)
    }
    #esquerda iframe{
        width: 260px;
        height: 542px;
    }
    #itens{
        padding-top: 20px;
        
       
    }
    #itens>h3{
        padding: 5px;
        position: relative;
        top: 0px;
        left: 4%;
        padding-bottom: 16px;
    }
   
    #itens span{
        position: relative;
        top: 4px;
    }
    #itens>h3:hover{
        background-color: rgba(66, 66, 66, 0.509);
        border-radius: 20px;
        width: 85%;
        transition: .3s;
        padding-bottom: 16px;
    }
   
    #conteudo{
        position: relative;
        top: 1%;
    }
   
 

  main>iframe{
    
    width: 651px;
    height: 243px;
    position: relative;
    top: -1px;
    left: -20px;
    transform: translateY();

  }
}