@charset "UTF8";



@media screen  and (min-width:530px) and (max-width:700px){
    header{
        width:87vw;
        
    }
    body,html{
        background-color: rgb(91, 89, 89);
        width: 100vw;
       
    }
    
    main{
        width: 93.8vw;
        height: 570vh;
        
    }
    #iframestory{
        display: none;
    }
    header div img{
        width: 30px;
        margin: 10px;
       
        
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
        box-sizing: border-box;
    
        position: relative;
        left: 28%;
        top: -26px;
    
        
    }
    nav>a{
        font-size: 1.5em;
        color: white;
        padding: 10px 20px 10px 20px;
        
        }
        
        nav a:hover{
        background-color: rgb(112, 112, 112);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        transition: 0.7s;
        transition-duration: 1s;
        padding: 10px 20px 10px 20px;
       
        
        
       }
    
#conta{
    width: 35px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    

}

   #Pesquisar{
    color: white;
    position: relative;
    left: 31px;
    top: 13px;

}
#Pesquisar span{
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: rgba(102, 99, 99, 0.196);
    padding: 4px;
    border-radius: 25px 0 0 25px;
}

#Pesquisar>form{
    background-color:rgba(114, 109, 109, 0.415);
    border-radius: 20px;
    width: 160px;
    height: 10px;
    position: relative;
    top: 0px;
    left: -19px;
    padding: 11px;

}
#Pesquisar>form>input[type=search]{
    position: relative;
    top: -6px;
    left: 12px;
    background-color:rgba(114, 109, 109, 0.415);
    border: none;
    padding: 3px;
    border-radius: 5px;
    width: 130px;
}
#Pesquisar>form>input::placeholder{
    color: white;
}
    
}


@media screen and (min-width:700px) and (max-width:815px){ /*Tablet*/
    
    header{
        width:91vw;
        
    }
    body,html{
        background-color: rgb(91, 89, 89);
        width: 100vw;
       
    }
    
    main{
        width: 96.2vw;
        height: 460vh;
        
    }
    


    nav>a{
        font-size: 1.5em;
        color: white;
        padding: 10px 25px 10px 25px;
        
        }
        
        nav a:hover{
        background-color: rgb(112, 112, 112);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        transition: 0.7s;
        transition-duration: 1s;
        padding: 10px 25px 10px 25px;
       
        
        
       }
   header div img{
    width: 34px;
    margin: 10px;
   
    
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

    position: relative;
    left: 28%;
    top: -39px;

    
}
#conta{
    width: 40px;
    height: 32px;
    border-radius: 100%;
    position: relative;
    

}
   #Pesquisar{
    color: white;
    position: relative;
    left: 31px;
    top: 10px;

}
#Pesquisar span{
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: rgba(102, 99, 99, 0.196);
    padding: 8px;
    border-radius: 25px 0 0 25px;
}

#Pesquisar>form{
    background-color:rgba(114, 109, 109, 0.415);
    border-radius: 20px;
    width: 180px;
    height: 19px;
    position: relative;
    top: 0px;
    left: -10px;
    padding: 11px;

}
#Pesquisar>form>input[type=search]{
    position: relative;
    top: -1px;
    left: 19px;
    background-color:rgba(114, 109, 109, 0.415);
    border: none;
    padding: 3px;
    border-radius: 5px;
    width: 140px;
}
#Pesquisar>form>input::placeholder{
    color: white;
}

   #direita{
    display: none;
}

#esquerda{
    display: none;
}
#iframestory{
    display: none;
}    
    

}

@media screen and (min-width:815px) and (max-width:900px) {
    header{
        width:91.5vw;
        
    }
    body,html{
        background-color: rgb(91, 89, 89);
        width: 100vw;
       
    }
    
    main{
        width: 96.2vw;
        height: 420vh;
        
    }
    


    nav>a{
        font-size: 1.5em;
        color: white;
        padding: 10px 25px 10px 25px;
        
        }
        
        nav a:hover{
        background-color: rgb(112, 112, 112);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        transition: 0.7s;
        transition-duration: 1s;
        padding: 10px 25px 10px 25px;
       
        
        
       }
   header div img{
    width: 36px;
    margin: 10px;
   
    
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

    position: relative;
    left: 28%;
    top: -40px;

    
}

#conta{
    width: 44px;
    height: 37px;
    border-radius: 100%;
    position: relative;
    

}  
   #Pesquisar{
    color: white;
    position: relative;
    left: 27px;
    top: 9px;

}
#Pesquisar span{
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: rgba(102, 99, 99, 0.196);
    padding: 9px;
    border-radius: 25px 0 0 25px;
}

#Pesquisar>form{
    background-color:rgba(114, 109, 109, 0.415);
    border-radius: 20px;
    width: 240px;
    height: 20px;
    position: relative;
    top: 0px;
    left: -10px;
    padding: 11px;

}
#Pesquisar>form>input[type=search]{
    position: relative;
    top: -1px;
    left: 23px;
    background-color:rgba(114, 109, 109, 0.415);
    border: none;
    padding: 3px;
    border-radius: 5px;
    width: 190px;
}
#Pesquisar>form>input::placeholder{
    color: white;
}
   #direita{
    display: none;
}

#esquerda{
    display: none;
}
     
#iframestory{
    display: none;
}

}
@media screen and (min-width:900px) and (max-width:1100px){
    header{
        width:91vw;
        
    }
    body,html{
        background-color: rgb(91, 89, 89);
        width: 100vw;
       
    }
    
header div img{
    width: 35px;
    margin: 10px;
   
    
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

    position: relative;
    left: 33%;   
    top: 3px;
    
}

    nav>a{
    font-size: 1.5em;
    color: white;
    padding: 10px 25px 10px 25px;
    
    }
    
    nav a:hover{
    background-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;
    transition-duration: 1s;
    padding: 10px 25px 10px 25px;
   
    
    
   }
   
#conta{
    width: 40px;
    height: 34px;
    border-radius: 100%;
    position: relative;
    

}
   main{
    height: 465vh;
   }
 #conteudo{
    width: 700px;
    margin: auto;
 }
   #Pesquisar{
    position: absolute;
    top: 125px;
    left: 6%;
    width: 150px;
    
}
#Pesquisar span{
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: rgba(102, 99, 99, 0.196);
    padding: 9px;
    border-radius: 25px 0 0 25px;
}
#Pesquisar>form>input[type=search]{
    position: relative;
    top: 16px;
    left: 18px;
    background-color:rgba(114, 109, 109, 0.415);
    border: none;
    padding: 3px;
    border-radius: 5px;
    width: 190px;
}
#Pesquisar>form{
    background-color:rgba(114, 109, 109, 0.415);
    border-radius: 20px;
    width: 223px;
    height: 20px;
    position: relative;
    top: 5px;
    left: -10px;
    padding: 11px;

}
#Pesquisar>form>input[type=search]{
    position: relative;
    top: -1px;
    left: 25px;
    background-color:rgba(114, 109, 109, 0.415);
    border: none;
    padding: 3px;
    border-radius: 5px;
    width: 180px;
}
#Pesquisar>form>input::placeholder{
    color: white;
}
   #direita{
    display: none;
}

#esquerda{
    display: none;
}
     
#iframestory{
    display: none;
}
}
@media screen and (min-width:1100px){/*Telas grande*/
    header{
        width:92.3vw;

        
    }
    body,html{
        background-color: rgb(91, 89, 89);
        width: 100vw;
       
    }
    
      
header div img{
    width: 35px;
    margin: 10px;
   
    
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

    position: relative;
    left: 36%;
    top: 2px;
    
}  
  nav{
    background-color: rgba(155, 154, 154, 0.696);
    border-radius: 40px;
    padding: 9px;
    padding-right: 19px;
    }
  
    nav>a{
    padding: 16px 30px 11px 30px;
    font-size: 1.2em;
    color: white;
    transition: 0.1s;
  
    }
    
    nav>a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(112, 112, 112, 0.863); 
    border-radius: 10%;
    padding: 16px 30px 11px 30px;
    transition-duration: 9ms;
    transition: 0.1s;
    transition-duration: 1s;
    
    
    
    } 
    
#conta{
    width: 40px;
    height: 34px;
    border-radius: 100%;
    position: relative;
    

}
    main{
        width: 656px;
        height: 390vh;
        padding: 30px;
        background-color: rgba(123, 123, 123, 0.611);
        position: relative;
        top: 31px;
        left: 21%;
        color: white;
        border-radius: 0px 0px 20px 20px;
    }
    #direita{
        display: block;
        font-size: .8em;
        width: 240px;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.368);
        position: absolute;
        left: -35.1%;
        top: 1.3%;
        cursor: pointer;
       

    }
    #esquerda{
        display: block;
        width: 264px;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.368);
        position: absolute;
        left: 101.5%;
        top: 1%;
        cursor: pointer;

    }
    form{
        padding: 10px;
        background-color: rgb(163, 162, 162)
    }
    #esquerda iframe{
        width: 260px;
        height: 542px;
    }
    #itens{
        padding-top: 20px;
        
       
    }
    #itens a{
        color: white;
        text-decoration: none;
    }
    #itens>h3{
        padding: 5px;
        position: relative;
        top: 0px;
        left: 4%;
        padding-bottom: 16px;
    }
   
    #itens span{
        position: relative;
        top: 4px;
    }
    #itens>h3:hover{
        background-color: rgba(66, 66, 66, 0.509);
        border-radius: 20px;
        width: 85%;
        transition: .3s;
        padding-bottom: 16px;
    }
   
    #conteudo{
        position: relative;
        top: 1%;
    }
    #Pesquisar{
        position: absolute;
        top: 132px;
        left: 63px;
        width: 150px;
    }
    #Pesquisar span{
        position: absolute;
        top: 0px;
        left: 0px;
        color: white;
        background-color: rgba(102, 99, 99, 0.196);
        padding: 9px;
        border-radius: 25px 0 0 25px;
    }
   
    #Pesquisar>form{
        background-color:rgba(114, 109, 109, 0.415);
        border-radius: 20px;
        width: 240px;
        height: 20px;
        position: relative;
        top: 0px;
        left: -10px;
        padding: 11px;
    
    }
    #Pesquisar>form>input[type=search]{
        position: relative;
        top: -1px;
        left: 14px;
        background-color:rgba(114, 109, 109, 0.415);
        border: none;
        padding: 3px;
        border-radius: 5px;
        width: 191px;
    }
    #Pesquisar>form>input::placeholder{
        color: white;
    }
   
   
 

  main>iframe{
    
    width: 651px;
    height: 243px;
    position: relative;
    top: -1px;
    left: -20px;
    overflow: hidden;

  }
  main>iframe::-webkit-scrollbar{
    display: none;
  }
  #iframestory{
    display: block;
}

}