@charset "UTF8";


*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

    

header{
    
    height: 155px;
    text-align: center;
    background-color: rgb(50, 50, 50);
    margin: -31px;
    padding: 30px 65px ;
    width: 81.2vw;
    
   
}

header>a>img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

    position: relative;
    left: -48%;
    
}


nav{
    background-color: rgba(155, 154, 154, 0.696);
    border-radius: 40px;
    padding: 10px;
    padding-right: 19px;
}

nav>a{ 
    color: white;
    margin: 20px; 
}
nav a:hover{
    color: rgb(0, 0, 0); 
} 

header div img{
    width: 35px;
    margin: 10px;
   
    
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

    position: relative;
    left: 36%;   
    
}
header div img:hover{
    background-color: rgba(230, 230, 230, 0.26);
    padding: 3px;
    border: 2px solid rgba(194, 194, 194, 0.447);
    transform: translate(-1px,-1px);
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.591);
    transition: transform,.2s, border,.1s;

}
#conta{
    width: 40px;
    height: 35px;
    border-radius: 100%;

}
#direita{
    display: none;
}

#esquerda{
    display: none;
}
#iframestory{
    display: none;
}
#conteudo>h1{
    background-image: linear-gradient(to right, rgba(123, 116, 116, 0.634), transparent);
    border-radius: 20px;
    padding: 8px;
    margin: 10px;
}
#conteudo>p{
    line-height: 1.4em;
    text-indent: 5px;
    border-radius: 10px;
    background-color: rgba(176, 169, 169, 0.196);
    padding: 10px;
}